.gallery-editor {
  display: flex;
  border-radius: 15px;
  box-shadow: var(--shadows-gray-blue-30-3-5-b-box-shadow, 0px 2px 5px 0px rgba(38, 51, 77, 0.03));
  background: var(--white-white, #ffffff);
  margin: 30px 0px;
}