.input-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-search__icon-input {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-search__input {
  width: 100%;
}
.input-search__input::-moz-placeholder {
  color: var(--gray-blue-grey-blue-80, #adb8cc);
  font: var(--bold-bold-12, 700 12px/20px "Roboto", sans-serif);
}
.input-search__input::placeholder {
  color: var(--gray-blue-grey-blue-80, #adb8cc);
  font: var(--bold-bold-12, 700 12px/20px "Roboto", sans-serif);
}