.sidebar-gallery {

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 15px;
	}

	&__labels {
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__label {
		padding: 0px;
		width: 100%;
	}
}