.button-with-icon {
	background: var(--orange-orange, #ff6633);
	border-radius: 30px;
	border: 2px solid var(--orange-orange, #ff6633);
	padding: 10px 45px 10px 20px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	box-shadow: var(
		--shadows-orange-20-30-b-box-shadow,
		0px 10px 30px 0px rgba(255, 102, 51, 0.2)
	);

	&__btn {
		text-align: center;
		width: 100%;
		color: var(--white-white, #ffffff);
		font: var(--black-black-12, 900 12px/20px "Roboto", sans-serif);
	}
}