.social-media {
	border-radius: 30px;
	border: 2px solid  var(--gray-blue-grey-blue-95, #edeff2);
	display: flex;
	gap: 10px;
	padding: 15px 25px;
	align-items: center;
	justify-content: center;
	height: 60px;
}