@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';


body {
	background: var(--gray-blue-grey-blue-98, #f7f8fa);

	color: var(--gray-blue-grey-blue-60, #6b7a99);
	font: var(--bold-bold-12, 700 12px/20px "Roboto", sans-serif);
}

// Стили для иконок
@import '../scss/icons.scss';